{{#extends 'base'}}

{{#block 'title'}} Index of all Products {{/block}}

{{#block 'content'}}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost (in cents)</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{ this.name }}</td>
        <td>{{ this.cost }}</td>
        <td>{{ this.description }}</td>
        <td>
          <a href="/products/{{ this.id }}/update" class="btn btn-primary"
            >Update</a
          ><a href="/products/{{ this.id }}/delete" class="btn btn-danger ml-2"
            >Delete</a
          >
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/block}}
{{/extends}}
